# Compiled Python files
*.py[cod]
__pycache__/

# Virtual environment directories
.venv
venv/
ENV/

# Environment configuration
.env
keyfile.json

# Data directories
data/

# IDE settings
.vscode/
.idea/

# Log files
*.log

# Docker-related files
*.dockerignore

# Unit test / coverage reports
htmlcov/
.pytest_cache/
.coverage
.cache
coverage.xml

*.png
*.csv
*.xlsx
static/graphs/
static/exports/
